$icon-color: #fcca46;
$bg-color: #e5e5e5;
$white-color: #fff;
$placeholder-color: #7d8597;
$line-color: #adb5bd;

* {
  box-sizing: border-box;
  font-family: 'Yeon Sung', cursive;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../images/bg1.webp');
}

body {
  background: $bg-color;
  font-family: 'Yeon Sung', cursive;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  // HEADER
section.header {
  margin-top: 3rem;
  margin-bottom: 1rem;
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fdfdff;
    text-shadow: #fdfdff 0px 0px 10px;
  }
}

// INPUT 
section.input {
  background: $white-color;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  // box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  
  form {
    display: flex;
    justify-content: space-between;
    input {
      width: 80%;
      font-size: 1.2rem;
      outline: none;
      border: none;
    }
    button {
      width: 15%;
      border: none;
      background-color: $white-color;
      cursor: pointer;
      margin-right: 0.2rem;
      > span {
        font-weight: 800;
        transition: all 0.1s ease-in;
        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}

// TASK LIST
[contenteditable] {
  max-width: 250px;
  outline: 0px solid transparent;
}
section.task-list {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 450px;
  border-top-left-radius:0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: $white-color;
  .todos-list {
    cursor: move;
  }
  :last-child{
    border-bottom: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    border-bottom: 1px solid $line-color;
    > div {
      display: flex;
      align-items: center;
      > button {
        background: $white-color;
        border: none;
        cursor: pointer;
        display: flex;
        > #todo-text {
          font-size: 1.1rem;
        }
        > .todo-text {
          margin-right: 0.5rem;
          cursor: pointer;
          transition: all 0.1s ease-in;
          width: 20px;
          &:hover {
            transform: scale(1.1);
          }
          &-true {
            text-decoration: line-through solid $placeholder-color;
            color: $placeholder-color;
            &:hover {
              color: #000;
            }
          }
        }
        :last-child {
          cursor: pointer;
          transition: all 0.1s ease-in;
          &:hover {
            color: #f6aa1c;
            transform: scale(1.05);
          }
        }
      }
      
    }
    .input-text {
      border: none;
      width: 250px;
      margin-left: 1rem;
      line-height: 1.5rem;
    }
    .material-symbols-outlined {
      color: $icon-color;
      font-weight: 600;
      transition: all 0.1s ease-in;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

// Drag and Drop
[draggable='true'] {
  background: $white-color;
}

// Loading Animation
.control-menu {
  width: 450px;
  padding: 0.3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: $icon-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .control{
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  > div {
    button {
      outline: none;
      border: none;
      background-color: $icon-color;
      color: #4a4e69;
      font-size: 0.9rem;
      cursor: pointer;
      &:hover {
        color: #000;
      }
      .count {
        color: #ff006e;
        font-size: 1.1rem;
        vertical-align: top;
        &.active {
          color: $icon-color;
        }
      }
    };
  }
  .control-group{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    > div {
      display: flex;
    }
    > div::after {
      content: '|';
      margin-top: 0.1rem;
      color: #ff006e;
    }
    >div:last-child:after {
      content: '';
    }
  }
  }
}
}

// Loading
.lds-heart {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  top: 60%;
  left: 48%;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ec0868;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #ec0868;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

// Tooltip
[data-title] {
  position: relative;
  cursor: help;
  &:hover::before{
    content: attr(data-title);
    position: absolute;
    bottom: -26px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #adb6c4;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
  }
  &:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 8px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
    border-bottom: 8px solid #adb6c4;
  }
}